body {
  margin: 0;
  font-family: Arial;
}
.app-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-container {
  width: 300px;
  margin: 100px auto;
  text-align: center;
}

.auth-container input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

.auth-container button {
  width: 100%;
  padding: 10px;
}

.link {
  color: blue;
  cursor: pointer;
}

.workflow-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #f3f3f3;
}

.add-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

.node {
  position: absolute;
  width: 150px;
  height: 80px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
}

.port {
  width: 12px;
  height: 12px;
  background: #555;
  border-radius: 50%;
  position: absolute;
}

.input {
  left: -6px;
}

.output {
  right: -6px;
}

.connections {
  position: absolute;
  width: 100%;
  height: 100%;
}
